@import 'reactflow/dist/style.css';
@import './styles/ControlPanel/ControlPanel.css';
@import './styles/ControlPanel/InputSection.css';
@import './styles/ControlPanel/FileInputSection.css';
@import './styles/ControlPanel/Error.css';
@import './styles/Tabs/Tabs.css';
@import './styles/Visualization/Visualization.css';
@import './styles/Visualization/VisualizationControls.css';
@import './styles/Visualization/EdgeAnimation.css'; /* Uncomment this line */
@import './styles/Visualization/Nodes.css';
@import './styles/Tabs/Informations/InfoGrid.css';
@import './styles/Tabs/Informations/NamesSection.css';
@import './styles/Tabs/Settings/Settings.css';
@import './styles/Visualization/ReactFlow.css';
@import './styles/Visualization/ReactFlowIndex.css'; /* Added this line */
@import './styles/FileNavigator/FileListModal.css';
@import './styles/FileNavigator/FileNavigator.css';
@import './styles/InfoFooter.css';
@import './styles/Tabs/Informations/InformationTabNested.css'; 
@import './styles/Visualization/InputNode.css';
@import './styles/Visualization/OutputNode.css';
@import './styles/ErrorMessage.css';

:root {
  --footer-visible-margin: 76px;
  --footer-hidden-margin: 16px;
}

body {
  font-family: sans-serif;
  background-color: #282c34;
  color: #f0f0f0;
  margin: 0;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 95%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 1.2 Typography
---------------------------------------------------------------------- */
h1 {
  color: #61dafb;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

/* 1.3 Layout Containers
---------------------------------------------------------------------- */
.input-section,
.file-input-section,
.tabs-container,
.error-message-box,
.visualization-area,
.control-panel,
.file-navigator-container {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.visualization-area {
  height: 600px;
  width: 100%;
  min-width: 600px;
  margin-top: var(--footer-margin);
  transition: margin-top 0.3s ease;
}

.input-wrapper {
  width: 100%;
}

.visualization-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282c34;
  text-align: center;
}

.enter-cgp-message {
  font-size: 20px;
  color: #abb2bf;
  opacity: 0.7;
}

.nothing-to-visualize {
  font-size: 18px;
  color: #abb2bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}

.nothing-to-visualize .subtext {
  font-size: 14px;
  margin-top: 8px;
  opacity: 0.8;
}

.visualization-error {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 90%;
}
